/**
 * Base
 */
/* Nord theme: https://www.nordtheme.com/ */
:root {
	--color-background: #2e3440;
	--color-text: #eceff4;
	--color-accent: #ebcb8b;
	--color-blockquote: #81a1c1;
	--border: 1px solid #3b4252;
	--space: 16px;
}

/* HTML elements */
body {
	font-family: Monaco, Consolas, monospace;
	font-size: 17px;
	line-height: 1.6;
	color: var(--color-text);
	background: var(--color-background);
	margin: calc(2 * var(--space)) auto;
	max-width: 70ch;
	padding: 0 var(--space);
}
h1, h2, h3 {
	line-height: 1.25;
	font-weight: 600;
	margin: 1.5em 0 .5em;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
p, blockquote, hr {
	margin: 0 0 1.6em;
}
blockquote {
	font-style: italic;
	color: var(--color-blockquote);
}
hr {
	border-top: none;
	border-bottom: var(--border);
}
a {
	color: var(--color-accent);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
}
time {
	opacity: .6;
}

/**
 * Components
 */

/* Header */
.site-title {
	display: block;
	margin-bottom: calc(2 * var(--space));
	color: inherit;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.site-title:hover {
	text-decoration: none;
}

/* Post list */
.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
.posts li + li {
	border-top: var(--border);
}
.posts li {
	padding: var(--space) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1.25;
}
.posts a {
	color: inherit;
}
.posts a:hover {
	color: var(--color-accent);
	text-decoration: none;
}

/* Single post */
article,
header {
	margin-bottom: calc(4 * var(--space));
}
h1 {
	margin: 0 0 var(--space);
}
.entry-content > *:first-child {
	margin-top: 0;
}
.entry-content h2,
.entry-content h3 {
	border-bottom: var(--border);
	padding-bottom: .25em;
}
.back {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
}

/* Responsive */
@media (min-width: 768px) {
	body {
		margin: calc(5 * var(--space)) auto;
	}
}
